<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <link rel="stylesheet" href="{{ asset('assets/main.css') }}">
    <script src="{{ asset('assets/main.js') }}"></script>
</head>


<body>
<div class="container-fluid">
    <div class="left_aside col-md-2"
         ng-controller="Users">

        users:

        <span class="list-group-item messages"
              ng-repeat="user in users">
            {[{ user.name }]}
        </span>


    </div>
    <div class="content container col-md-9 col-md-offset-1">
        <div class="chat col-md-12"
             ng-controller="MainCtrl"
             id="chat">
            <span class="list-group-item messages"
                  ng-repeat="message in getMessages"
            ><span class="user-name">{[{ message.user.name }]}</span> {[{ message.message }]}</span>
        </div>
        <div class="message col-md-12 fixed-bottom">
            <div class="col-md-11">
                <input class="form-control game-bet-font" type="text" ng-model="messageData" name="inputName" placeholder="enter the message">
            </div>
            <button class="btn btn-success btn-md"
                    ng-controller="SendMessage"
                    ng-click="send()">
                SEND
            </button>
        </div>
    </div>
</div>
</body>
